h2{
    font-size:larger;
    margin-bottom: 0;
}

div{
    min-height: 2em;
    background-color: coral;
    border-color: brown;
}

p{
    color:purple
}

html{
    font-family: 'Noto Sans JP', sans-serif;
}

